{
  "presets": [
    "@babel/preset-env",        // Transpile modern JavaScript
    "@babel/preset-react",      // Transpile React (JSX)
    "@babel/preset-typescript" // Transpile TypeScript
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs"
  ]
}
