@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./characterList.scss";
@import "./episodeList.scss";
@import "./errorsContentSpinner.scss";
@import "./home.scss";
@import "./landing.scss";
@import "./locationList.scss";
@import "./modal.scss";
@import "./pagination.scss";
@import "./tabs.scss";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-color: black;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  p {
    font-size: 14px;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    -42vw -4vh 0px 0px #fff,
    25vw -41vh 0px 0px #fff,
    -20vw 49vh 0px 1px #fff,
    5vw 40vh 1px 1px #fff,
    29vw 19vh 1px 0px #fff,
    -44vw -13vh 0px 0px #fff,
    46vw 41vh 0px 1px #fff,
    -3vw -45vh 0px 1px #fff,
    47vw 35vh 1px 0px #fff,
    12vw -8vh 1px 0px #fff,
    -34vw 48vh 1px 1px #fff,
    32vw 26vh 1px 1px #fff,
    /* Additional stars for more density */ -12vw 25vh 1px 0px #fff,
    15vw -35vh 0px 0px #fff,
    37vw 22vh 1px 1px #fff,
    -16vw -27vh 1px 0px #fff,
    44vw -12vh 1px 0px #fff,
    -29vw 36vh 1px 0px #fff,
    -24vw -18vh 1px 1px #fff,
    28vw -19vh 1px 0px #fff,
    -18vw -25vh 0px 0px #fff,
    40vw -5vh 1px 0px #fff,
    50vw -20vh 1px 1px #fff;
  animation: zoom 16s alternate infinite;
  z-index: -1; /* Ensure it stays behind other content */
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.container {
  height: 100vh;
  display: grid;
}

// .container {
//   background-color: #282c34;
//   min-height: 100vh;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   color: white;
// }

.error {
  font-size: 30px;
  background: red;
  padding: 1em;
  border: 5px solid red;
  border-radius: 5px;
  grid-column: 1 / -1;
  color: white;

  .reload {
    background: red;
    margin: 1em 0;
    justify-content: center;
    display: flex;
    margin: 1em auto;
    border-radius: 5px;
    color: white;
    font-family: "Get Schwifty";
    padding: 1em 2em;
  }

  h2 {
    font-family: "Get Schwifty";
    transition: all 0.15s ease-in-out;
    color: white;
    font-size: 30px;
  }
}

.header {
  position: fixed;
  top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 50px;
  }
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  color: #61dafb;
}

.content {
  width: 100%;
  margin: 0 auto; /* Center align content for all screen sizes */

  @media (min-width: 768px) {
    width: 960px;
  }
}

.tab-content-loading {
  display: flex;
  justify-content: center; /* Centers the spinner horizontally */
  align-items: center; /* Centers the spinner vertically */
  height: 80vh; /* Ensures the container takes the full height of the tab content */
  min-height: 200px; /* Optional: Adjust minimum height based on your design */

  .loadingSpinner {
    font-family: "Get Schwifty";
    font-size: 54px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: transparent;

    @media (max-width: 768px) {
      font-size: 34px;
    }
  }
}
