@tailwind base;
@tailwind components;
@tailwind utilities;


@import './characterList.scss';
@import './episodeList.scss';
@import './locationList.scss';
@import './modal.scss';




/* body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
  p{
    font-size: 14px;
  }
}

body::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 
    -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff, 
    -20vw 49vh 0px 1px #fff, 5vw 40vh 1px 1px #fff, 
    29vw 19vh 1px 0px #fff, -44vw -13vh 0px 0px #fff, 
    46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff, 
    47vw 35vh 1px 0px #fff, 12vw -8vh 1px 0px #fff, 
    -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff,
    /* Additional stars for more density */
    -12vw 25vh 1px 0px #fff, 15vw -35vh 0px 0px #fff,
    37vw 22vh 1px 1px #fff, -16vw -27vh 1px 0px #fff,
    44vw -12vh 1px 0px #fff, -29vw 36vh 1px 0px #fff,
    -24vw -18vh 1px 1px #fff, 28vw -19vh 1px 0px #fff,
    -18vw -25vh 0px 0px #fff, 40vw -5vh 1px 0px #fff,
    50vw -20vh 1px 1px #fff;
  animation: zoom 16s alternate infinite;
  z-index: -1; /* Ensure it stays behind other content */
}

@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.container {
  height: 100vh;
  display: grid;
}

.title {
  position: absolute;
  bottom: 0.8em;
  width: 100%;
  text-align: center;
  font-family: 'Get Schwifty';
  font-size: 10em;
  color: #08BAE3;
  z-index: 50;
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
}
.title span {
    font-size: 0.5em;
  }

.title.middle {
  -webkit-text-stroke: 0.1em #FFF765;
  z-index: 49;
}

.title.bottom {
  -webkit-text-stroke: 0.4em black;
  z-index: 48;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    -o-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  75% {
    -webkit-transform: rotate(270deg) scale(1.1);
    -o-transform: rotate(270deg) scale(1.1);
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  25% {
    -ms-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    -webkit-transform: rotate(90deg) scale(1.1);
    -o-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
  }
  50% {
    -ms-transform: rotate(180deg) scale(1);
    -moz-transform: rotate(180deg) scale(1);
    -webkit-transform: rotate(180deg) scale(1);
    -o-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  75% {
    -ms-transform: rotate(270deg) scale(1.1);
    -moz-transform: rotate(270deg) scale(1.1);
    -webkit-transform: rotate(270deg) scale(1.1);
    -o-transform: rotate(270deg) scale(1.1);
    transform: rotate(270deg) scale(1.1);
  }
  100% {
    -ms-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
    -webkit-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

.rotating {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}



/* PORTAL */

.portal {
  background-color: #66BA4F;  
  box-shadow: 0px 0px 40px 10px #448C3F;
  height: 60em;
  width: 60em;
  border-radius: 50%;
  margin: auto;
  background: 
    radial-gradient(circle at 77% 80%, #FDFEB4 2.5%, transparent 2.5%),
    radial-gradient(circle at 75% 83%, #FDFEB4 2%, transparent 2%),
    radial-gradient(circle at 79% 83%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 45% 13%, #FFFFD5 1.5%, transparent 1.5%),
    radial-gradient(circle at 42% 13%, #FFFFD5 2%, transparent 2%),
    radial-gradient(circle at 38% 14%, #FFFFD5 1.5%, transparent 1.5%),
    radial-gradient(circle at 20% 24%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 21% 23%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 51% 13%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 81% 33%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 85% 36%, #FDFEB4 2%, transparent 2%),
    radial-gradient(circle at 21% 46%, #FDFEB4 1%, transparent 1%),
    radial-gradient(circle at 20% 51%, #FDFEB4 2%, transparent 2%),
    radial-gradient(circle at 53% 51%, transparent 64%, #43A93E 64%),
    radial-gradient(circle at 47% 59%, transparent 64%, #43843E 64%),
    radial-gradient(circle at 47% 60%, transparent 59%, #1A9042 59%),
    radial-gradient(circle at 50% 59%, transparent 55%, #1B863C 55%),
    radial-gradient(circle at 45% 60%, transparent 55%, #399C49 55%),
    radial-gradient(circle at 47% 60%, transparent 46%, #1A9042 46%),
    radial-gradient(circle at 46% 55%, transparent 43%, #75B03B 43%),
    radial-gradient(circle at 36% 55%, transparent 43%, #A9CB48 43%),
    radial-gradient(circle at 50% 60%, transparent 40%, #66BA4F 40%),
    radial-gradient(circle at 50% 53%, transparent 40%, #E5E051 37%),
    radial-gradient(circle at 30% 48%, transparent 40%, #EAF157 37%),
    radial-gradient(circle at 57% 69%, transparent 40%, #EAF157 40%),
    radial-gradient(circle at 40% 88%, transparent 40%, #E9E072 37%),
    radial-gradient(circle at 67% 54%, transparent 40%, #FAEB7B 37%),
    radial-gradient(circle at 49% 35%, transparent 40%, #FFF8C5 37%),
    radial-gradient(circle at 79% 59%, transparent 40%, #FFFE9C 37%),
    radial-gradient(circle at 50% 50%, #FDFEB4 100%, #FDFEB4 100%)
    ;
}
@font-face {
  font-family: 'Get Schwifty';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
}


.container {
  background-color: #282c34;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.error {
  font-size: 30px;
}

.header {
  position: fixed;
  top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    font-size: 50px;
  }
}

.taskList {
  display: flex;
  flex-direction:column; 
  /* flex-wrap: wrap; */
}

.button {
  flex: 1 0 calc(33.3333% - 10px);
  color: white;
  margin: 5px;
  margin-top: 10px;
  font-size: 24px;
  padding: 14px 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.5s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.link {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  color: #61dafb;
}


// SET UP

.tabContainer {
  padding: 3.5em 1em 0;
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  @media (max-width: 768px) {
    padding: 3em 3.5em 0;
  }  

  > button {
    font-size: x-large;
    background: #08BAE3;
    padding: 10px 5px;
    border-radius: 5px;
    width: 100%;
    font-family: "Get Schwifty";
    transition: all .15s ease-in-out;

    &:hover {
      color: #66BA4F;
      background-color: white;
    }

    &.active {
      color: white;
      background-color: #66BA4F;
    }
  }
}



.searchFilters{
  padding: 2em 1em 0;
  display: flex;
  justify-content: space-between;
  gap: 1em;

  form {
    display: flex;
    width: 100%;
    gap: .5em;
    margin-bottom: 2em; 
    button{
      background: blue;
      padding: 5px 25px;
    }
  }
}

.content{
    width: 100%;
    margin: 0 auto; /* Center align content for all screen sizes */
  
    @media (min-width: 768px) {
        width: 960px;
    }  
}

.tab-content-loading {
  display: flex;
  justify-content: center;  /* Centers the spinner horizontally */
  align-items: center;      /* Centers the spinner vertically */
  height: 80vh;             /* Ensures the container takes the full height of the tab content */
  min-height: 200px;        /* Optional: Adjust minimum height based on your design */



  .loadingSpinner{
    font-family: "Get Schwifty";
    font-size: 54px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background: transparent;
  }

}


.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #66BA4F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  color: white;
  font-size: 1.2em;
  text-align: center;
}

/* For mobile responsiveness */
@media (min-width: 768px) {
  .pagination {
    flex-direction: row;
  }
}
