.locationList{
    .locationListContainer{
        margin: 0 auto;
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 10px; 

        .locationListItem{
            display: flex; 
            gap: 5px;
            background: #ffffff;
            border-radius: 5px;
            padding: 1rem;

            .locationListItemTitle{
                font-weight: bolder;
                font-size: large;
                color: #000000;
            }

            .locationListItemDetail{


                color: black;
            }
        }

    }
}