.modal {
    /* Ensure the modal is hidden by default */
    display: none;
    
    /* When the modal is open, show the modal and animate */
    &.show {
        display: flex;
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    /* When the modal is open, apply the fade-in */
    &.show .modalOverlay {
        opacity: 1;
    }
    
    .modalContent {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 660px;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: scale(0.9); /* Start scaled down */
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    /* Modal content animation when modal is open */
    &.show .modalContent {
        transform: scale(1); /* Scale to normal size */
    }

    .modalClose {
        background: black;         
        border: none;                
        font-size: 16px;            
        cursor: pointer;             
        display: flex;               
        justify-content: center;     
        align-items: center;         
        color: white;              
        width: 30px;                 
        height: 30px;                
        position: absolute;          
        top: 5px;                   
        right: 10px;                
        border-radius: 50%;          
        text-align: center;  
        
        &:hover{
            color: #000; 
            background: #fff;
            border: 1px solid #000; 
        }
    }
    
}
