.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  padding: 0 1rem;
  gap: 10px;
  font-size: 18px;
}

.pagination button {
  padding: 10px 20px;
  background-color: #66ba4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  color: white;
  font-size: 1.2em;
  text-align: center;
  color: white;
  font-size: 1em;
  text-align: center;
  border: 2px solid #08bae3;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  font-family: Get Schwifty;
}

/* For mobile responsiveness */
@media (min-width: 768px) {
  .pagination {
    flex-direction: row;
  }
}
